/*header;*/
.page-header__inner {
  height: 800px;
  background: url(../img/Header_bg_mobile.png) no-repeat;

  @media (min-width: $mobile-width-only) {

    background: url(../img/Header_bg_mobile.png) no-repeat;
    width: 100%;
    background-size: contain;
  }

  @media only screen and (min-width: $tablet-width) {

    background: url(../img/Header_bg_tablet.png) no-repeat;
    background-size: contain;
    width: 100%;
  }

  @media only screen and (min-width: $desktop-width) {

    background: url(../img/Header_bg.png) no-repeat;
    background-size: contain;
    width: 100%;
  }
}
